h1, p {
    font-family: "Montserrat", sans-serif;
  }
  
  img {
    display: block;
    width: 100%;
    height: auto;
    padding: 0 10px;
    margin: 35px auto;
    box-sizing: border-box;
  }
  
  .box_banner {
    max-width: max-content;
    margin: 0 auto;
  }
  