.footer {
    background-color: #c6e5fa;
    color: #000000;
    padding: 32px 0;
    margin-top: 50px;
  }
  
  .footer-container {
    max-width: 100%;
  }
  
  .footer-title {
    font-size: 1.25rem;
    margin-bottom: 16px;
  }
  
  .footer-link {
    display: block;
    margin: 8px 0;
    color: inherit;
    text-decoration: none;
  }
  
  .footer-link:hover {
    text-decoration: underline;
  }
  
  .footer-social {
    display: flex;
    align-items: center;
  }
  
  .footer-social-link {
    margin-right: 16px;
    color: inherit;
  }
  
.paga{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: -30px;
  margin-left: -10px;
}

.pay img{
  width: 50px;
  height: auto;
  object-fit: contain;
}


  .footer-text {
    margin-top: 24px;
    text-align: center;
    font-size: 0.875rem;
  }
  