@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
}

.container {
    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: #b9b9b9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.titulo {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #081524;
    display: flex;
    cursor: pointer;
}

.menu {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
    margin-top: 3px;
}

.departamentos {
    display: flex;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 1vw; /*gap relativo*/
    justify-content: center;
    margin-bottom: 20px;
}

/* Ajuste na grid */
.departamentos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr)); 
    gap: 2vw; 
    justify-items: center;
    margin-bottom: 20px;
    margin: 15px;
}

.categ {
    width: 100%; 
    height: 160px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: #f9f9f9;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.categ:hover {
    transform: scale(1.05); 
}

.categ img {
    width: 100%; 
    height: 90px;
    object-fit: contain;
}

.subtitulo {
    font-size: 14px; /* Menor fonte para o subtítulo */
    font-weight: bold;
    color: #4491e9;
    margin-top: 5px;
}

/*media querie*/
@media (max-width: 768px) {  
    .departamentos{
        gap: 0.5vw; /*gap maior em telas menores*/
    }
}

@media (max-width: 480px){
    .departamentos{
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        gap: 4vw;
    }
    .categ{
        height: 140px;
    }
    .categ img{
        height: 70px;
    }
}

@media (max-width: 375px){
    .departamentos{
        grid-template-columns: repeat(auto-fit, minmax(90px, 1fr)); 
        gap: 5vw;
    }
    .categ {
        height: 120px;
    }
    .categ img {
        height: 60px;
    }
}
