@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 109.6px;
  padding-bottom: 5px;
  background: #1976d2;
}
  
.header-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 107.6px;
}

.imgLogo {
  align-items: left;
  width: 250px;
}


.contacts {
  position: absolute;
  top: 10px; 
  right: 305px; 
  display: flex;
  gap: 10px;
  color: #c6e5fa;
  font-size: 18px;
}
  
  .contacts a {
    color: #c6e5fa;
    text-decoration: none;
  }

  .numero{
    color: #c6e5fa;
    position: absolute;
    top: 10px; 
    right: 10px; 
    display: flex;
    gap: 10px;
    font-weight: 600;
  }
 
  .circuloIcon{
    color: #c6e5fa;
    position: absolute;
    top: 74px; 
    right: 462px; 
    display: flex;
    gap: 10px;
    font-weight: 600; 
  }

  .nav-item {
    color: #c6e5fa;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
  } 

  .nav {
    color: #c6e5fa;
    position: absolute;
    top: 75px; 
    right: 10px; 
    display: flex;
    gap: 10px;
    font-weight: 600; 
    
}
  
  .nav-item.active {
    color: #c6e5fa;
  }
  
